section {
  min-height: 100dvh;
  background-color: #ffd97d;
  text-align: center;
}

.top {
  padding: 0 18px;
  background-color: black;
}

h2 {
  color: #ffd97d;
  font-size: 60px;
  font-weight: bolder;
  width: 100%;
}

p {
  padding: 0px 18px;
  font-size: 24px;
  font-weight: 600;
}

.buttonsInfo {
  padding: 0 18px;
}
