.home-content div {
  max-width: 1000px;
}

.home-content figure {
  max-width: 500px;
  min-width: 500px;
}

.home-content figure img {
  width: 100%;
}

.home-content-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}

.home-content-title p {
  display: flex;
  justify-content: start;
  min-width: 1000px;
  font-size: 40px;
}

.card-list {
  max-width: 1050px;
}

@media (min-width: 840px) {
  .home-content {
    flex-direction: row;
    padding: 0 16px;
    gap: 48px;
  }

  .home-content div {
    flex-direction: column;
    max-width: 300px;
    min-width: 300px;
  }

  .home-content figure {
    max-width: 300px;
    min-width: 300px;
  }

  .image-text {
    padding: 16px 16px;
  }

  .home-content-title p {
    justify-content: center;
    max-width: 100%;
    min-width: 100%;
    font-size: 32px;
  }
}

@media (max-width: 840px) {
  .home-content {
    padding: 0 16px;
    gap: 48px;
  }

  .home-content div {
    flex-direction: column;
  }

  .home-content-title {
    max-width: 100%;
  }

  .home-content-title p {
    justify-content: center;
    max-width: 80dvw;
    min-width: 80dvw;
    font-size: 32px;
  }

  .home-content figure {
    max-width: 80dvw;
    min-width: 80dvw;
  }

  .home-content p {
    font-size: 20px;
    padding: 16px 0px;
    max-width: 80dvw;
    min-width: 80dvw;
  }

  .image-text {
    max-width: 500px;
  }
}

.home-container {
  padding: 38px 0;
  border-bottom: solid 2px white;
}

@media (max-width: 680px) {
  .home-container {
    min-height: calc(100dvh - 65.5px);
  }
}

@media (min-width: 1300px) {
  .home-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    min-height: 480px;
  }

  .home-container .bottom-info {
    padding-bottom: 12px;
    padding-top: 0;
  }
}
