@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-bg {
  background-color: #2892d7;
}

.yellow-bg {
  background-color: #f1d302;
}

.red-bg {
  background-color: #c1292e;
}

.dark-red-bg {
  background-color: #1d70a2;
}

.green-bg {
  background-color: #9bc53d;
}

.dark-bg {
  background-color: #173753;
}

.gray-bg {
  background-color: rgb(28, 28, 28);
}

/* STYLES FOR HOME */

section {
  min-height: 90dvh;
  background-color: #2892d7;
  text-align: center;
}

.top {
  padding: 12px 18px;
  background-color: #173753;
}

h1 {
  font-size: 36px;
  line-height: 1.3;
  word-wrap: break-word;
}

h2 {
  color: white;
  font-size: 60px;
  font-weight: bolder;
  width: 100%;
  line-height: 1.3;
  word-wrap: break-word;
}

h3 {
  font-size: 30px;
  line-height: 1.3;
}

p {
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
}

.buttonsInfo {
  padding: 0 18px;
}

.blocky {
  min-width: 90dvw;
  min-height: 90dvw;
  width: 90dvw;
  height: 90dvw;
}

.word-break-blocky {
  word-wrap: break-word;
}

.actions {
  display: flex;
  justify-content: space-evenly;
}

.loading-container {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.footer-content {
  padding: 32px 0px;
}

.label-select * {
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 318px) {
  h2 {
    font-size: 48px;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 18px;
  }

  .actions {
    display: flex;
    flex-direction: column;
  }

  .done-btn {
    margin-left: 0;
  }

  .add-subtask-btn {
    margin-left: 0;
  }
}

@media screen and (min-width: 540px) {
  .blocky {
    min-width: 12rem;
    min-height: 12rem;
    width: 12rem;
    height: 12rem;
  }

  .footer-content {
    padding: 32px 120px;
  }
}
