@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-bg {
  background-color: #5bc0eb;
}

.yellow-bg {
  background-color: #fde74c;
}

.red-bg {
  background-color: #c1292e;
}

.green-bg {
  background-color: #9bc53d;
}
