@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-bg {
  background-color: #2892d7;
}

.yellow-bg {
  background-color: #f1d302;
}

.red-bg {
  background-color: #c1292e;
}

.dark-red-bg {
  background-color: #1d70a2;
}

.green-bg {
  background-color: #9bc53d;
}

.dark-bg {
  background-color: #173753;
}
