@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Utendo";
  src: url("../public/Utendo-Semibold.ttf") format("opentype");
}

body * {
  font-family: "Montserrat", "Utendo", sans-serif;
}

body,
html,
h2,
p {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 540px) {
  .App {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .app-content {
    width: 100%;
  }
}
