.blocky {
  min-height: 300px;
  max-height: 300px;
  aspect-ratio: 1/1;
  margin: 20px 20px;
}

.blocky:hover {
  cursor: pointer;
}

.blockylist {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: center;
  align-items: center;
}

.tasklist {
  min-width: 100%;
  max-width: 540px;
}

.done-btn:hover {
  cursor: pointer;
}

.select-actions {
  justify-content: space-between;
}

.features-actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
}

.blocky-select {
  display: flex;
  justify-content: start;
  align-items: start;
  max-width: 640px;
  min-width: 640px;
  width: 100%;
}

@media screen and (max-width: 774px) {
  .blocky {
    min-height: 350px;
    max-height: 80dvw;
  }

  .select-actions {
    display: flex;
    justify-content: start;
    max-width: 80dvw;
    min-width: 80dvw;
  }
}

@media screen and (max-width: 782px) {
  .blocky {
    min-height: 80dvw;
    max-height: 80dvw;
  }

  .select-actions {
    display: flex;
    justify-content: space-between;
    max-width: 80dvw;
    min-width: 80dvw;
  }

  .blocky-select {
    display: flex;
    justify-content: start;
    align-items: start;
    max-width: 80dvw;
    min-width: 80dvw;
    width: 100%;
  }
}

@media screen and (min-width: 540px) {
  .tasklist {
    min-width: 540px;
    border: solid 6px white;
    margin-bottom: 16px;
  }

  .taskactions {
    max-width: 540px;
    min-width: 540px;
    padding: 8px 16px;
  }

  .taskactions-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 692px) {
  .features-flex {
    display: flex;
    flex-direction: column;
  }

  .features-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}

@media screen and (max-width: 252px) {
  .blocky-select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
